* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucina Sans Unicode', 'Lucinda Grande', 'Lucinda Sans', Arial, sans-serif;
}

body {
    background-color: #B8EAD1;
    color: #0C343D;
}

#counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#count {
    font-size: 10rem;
}

#unit-display {
    font-size: 3rem;
}

#message {
    margin: 5px 0 10px 0;
    font-size: 1.2rem;
    width: 310px;
    text-align: center;
    padding: 0 0 5px 0;
}

button {
    font-size: 5rem;
    height: 150px;
    width: 150px;
    margin: 5px 2.5px 20px 2.5px;
}

