* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucina Sans Unicode', 'Lucinda Grande', 'Lucinda Sans', Arial, sans-serif;
}

body {
    background-color: #B8EAD1;
    color: #0C343D;
}

.modal-container {
    background-color: #B8EAD1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 1s;
}

.modal {
    width: 90%;
    padding: 2.5rem;
    position: fixed;
    background-color: #ffffff;
    margin: 1.25rem 0 0 0;
    border: 0;
    border-radius: 2%;
}

p {
    font-size: 1.2rem;
    margin: .9rem 0 1.25rem 0;
}

#questions {
    margin: 3rem 1rem 2rem 1rem;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

label {
    text-align: right;
    font-size: 1.2rem;
    margin: .125rem .46rem 1.25rem .93rem;
}

.answer-box {
    text-align: left;
    margin: .125rem 0 1.25rem .93rem;
    min-height: 1.87rem;
    font-size: 1.2rem;
    padding: .03rem;
}

#begin-button {
    font-size: 1.8rem;
    padding: .5rem;
    width: 6.25rem;
    background-color: #63a081;
    color: #ffffff;
    border-radius: 5%;
    margin-right: 1rem;
    float: right;
}

.container-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-hide {
    display: none;
}

#heading {
    margin: .625rem 0 3.75rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

#count {
    font-size: 10rem;
}

#unit-display {
    font-size: 3rem;
}

#message {
    margin: .3rem 0 .62rem 0;
    font-size: 1.2rem;
    width: 19rem;
    min-height: 3.5rem;
    text-align: center;
    padding: .16rem;
}

button {
    font-size: 5rem;
    height: 9.4rem;
    width: 9.4rem;
    margin: .3rem .16rem 1.9rem .16rem;
}

/* Media Queries */
@media screen and (max-width: 780px) {
    #questions {
    margin: 3rem 0 2rem 0;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    }

    label {
        text-align: left;
        font-size: 1.2rem;
        margin: .13rem 0 .63rem .13rem;
    }

    .answer-box {
        text-align: left;
        margin: .13rem 0 1.25rem .13rem;
    }

    #modal {
        width: 90%;
        padding: .5rem;
        margin: 5%;
    }
}