* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucina Sans Unicode', 'Lucinda Grande', 'Lucinda Sans', Arial, sans-serif;
}

body {
    background-color: #B8EAD1;
    color: #0C343D;
}

#counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#count {
    font-size: 12rem;
}

#units {
    font-size: 3rem;
}

